output/arvore.d
output/arvore.o
output/dados.txt
output/efficiency.d
output/efficiency.o
output/learquivo.d
output/learquivo.o
output/main.d
output/main.o
output/mochila
output/Bibliotecas/efficiency.d
output/Bibliotecas/efficiency.o
output/Bibliotecas/learquivo.d
output/Bibliotecas/learquivo.o
