[submodule "/home/lilo/Faculdade/MatemáticaDiscreta/Problema-da-Mochila/Bibliotecas"]
	path = /home/lilo/Faculdade/MatemáticaDiscreta/Problema-da-Mochila/Bibliotecas
	url = https://github.com/LiloMarino/Bibliotecas
